<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test"> 
 <!--   <test name="Test iPhone 12"> -->
   <!-- <parameter name="model" value="iPhone-XS"/> -->
    <classes>
      <class name="DriverScript.BAU_RegressionPack_MoCreds"/>
    </classes>
  </test> <!-- Test -->
   <!-- <test thread-count="1" name="Testa"> -->
  <!-- <test name="Samsung">
   <parameter name="model" value="Galaxy A50" />
    <classes>
      <class name="DriverScript.RegressionPack"/>
    </classes>
  </test> -->
</suite> <!-- Suite -->